{% extends 'layout.html' %}

{% block  body %}


<div class="mdl-grid">
   <form method=post action="/login">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--2-offset">
         <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="email" name="email">
            <label class="mdl-textfield__label" for="email">E-Mail</label>
         </div>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-cell--2-offset">
         <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="password" name="password">
            <label class="mdl-textfield__label" for="password">Password</label>
         </div>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-cell--5-offset">
         <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
            Login
         </button>
      </div>
   </form>
</div>


{% endblock body %}
